/*DAY1 : TASK4 :Create a JSX element that displays the current year using a JavaScript new Date() object inside curly braces {} */

.year-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.year-card {
    padding: 40px 60px;
    border-radius: 16px;
    background: #0f1c2a;
    border: 1px solid #141f2e;
    text-align: center;
}

.year-label {
    font-size: 13px;
    color: #3d5572;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.year-title {
    font-size: 64px;
    font-weight: 800;
    color: #a29bfe;
    letter-spacing: -2px;
}

.year-sub {
    margin-top: 12px;
    font-size: 14px;
    color: #3d5572;
}

.year-sub strong {
    color: #43D9AD;
}