/*DAY1 : TASK2 : Re-structure to follow pattern*/

* { box-sizing: border-box; margin: 0; padding: 0; }
html, body, #root { height: 100%; }

body {
    font-family: 'Syne', sans-serif;
    background: #07101c;
    color: #cce0f5;
}